DISCOGS_TOKEN=
DISCOGS_USERNAME=
SYNC_CRON_SCHEDULE="0 0 3 * * *"
DATABASE_URL=postgresql://waxdemon:waxdemon_password@postgres:5432/waxdemon
POSTGRES_USER=waxdemon
POSTGRES_PASSWORD=waxdemon_password
POSTGRES_DB=waxdemon
